architect==0.5.6
boto==2.45.0
boto3==1.7.22
celery==4.1.1
celery-redbeat==0.11.1
ccxt==1.13.38
decorator==4.0.10
dj-database-url==0.4.1
dj-static==0.0.6
Django==2.2.20
django-bmemcached==0.2.3
django-cache-memoize==0.1.1
django-cors-headers==2.3.0
django-debug-toolbar==1.6
django-extensions==1.7.5
django-filter==2.0.0
django-rest-swagger==2.1.2
django-storages==1.5.1
django-toolbelt==0.0.1
django-unixtimestampfield==0.3.9
djangorestframework==3.9.1
ipython==5.1.0
jsonfield==1.0.3
numpy==1.14.4
pandas==0.23.4
pika==0.12.0
python-binary-memcached==0.26.1
python-dateutil==2.6.0
python-memcached==1.59
python-telegram-bot==10.1.0
psycopg2-binary==2.7.6.1
pytz==2016.10
PyYAML>=4.2b1
redis==2.10.6
requests-oauthlib==0.8.0
requests==2.20.0
schedule==0.4.3
simplejson==3.11.1
six==1.11.0
TA-Lib==0.4.17
toolz==0.9.0
twython==3.7.0
urllib3>=1.23
waitress==1.4.3
whitenoise==3.3.1

tensorflow
keras
h5py
scipy
nltk
tweepy
bs4
praw
sklearn
