boto==2.45.0
decorator==4.0.10
dj-database-url==0.4.1
dj-static==0.0.6
django-debug-toolbar==1.6
django-extensions==1.7.5
django-storages==1.5.1
Django==1.11
ipython==5.1.0
jsonfield==1.0.3
python-dateutil==2.6.0
pytz==2016.10
requests-oauthlib==0.7.0
requests==2.12.4
schedule==0.4.3
six==1.10.0
waitress==1.0.1
