Flask==0.12.2
google-cloud-bigtable==0.26.0
google-cloud-core==0.26.0
google-cloud-datastore==1.2.0
google-cloud-pubsub==0.27.0
gunicorn==19.7.1
PyYAML==3.12
requests==2.18.3
simplejson==3.11.1
python-telegram-bot==7.0.1
google-cloud-happybase