
<div class="statcard p-4 {% if signal.trend > 0 %}statcard-success{% else %}statcard-danger{% endif %}">
  <h3 class="statcard-number">
    {{ signal.signal }}
    <small>
      {% if signal.signal == "RSI" %}{{ signal.rsi_value }}{% endif %}
    </small>
    <small class="delta-indicator {% if signal.trend > 0 %}delta-positive{% else %}delta-negative{% endif %}">
      {% if signal.trend > 0 %}BULLISH{% else %}BEARISH{% endif %}
    </small>
  </h3>
  <span class="statcard-desc">
    <span class="font-italic">
      {{ signal.get_horizon_display }} horizon
    </span>
    <span>
      on {{ signal.get_source_display }}
    </span>
  </span>
</div>
