

<!-- TradingView Widget BEGIN -->
{#<div class="tradingview-widget-container">#}
{#  <div class="tradingview-widget-container__widget"></div>#}
{#  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com" rel="noopener" target="_blank"><span class="blue-text">Quotes</span></a> by TradingView</div>#}
{#  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-tickers.js" async>#}
{#  {#}
{#  "symbols": [#}
{#    {#}
{#      "description": "BTC/USD",#}
{#      "proName": "COINBASE:BTCUSD"#}
{#    },#}
{#    {#}
{#      "description": "ETH/USD",#}
{#      "proName": "COINBASE:ETHUSD"#}
{#    },#}
{#    {#}
{#      "description": "BCH/USD",#}
{#      "proName": "COINBASE:BCHUSD"#}
{#    },#}
{#    {#}
{#      "description": "LTC/USD",#}
{#      "proName": "COINBASE:LTCUSD"#}
{#    },#}
{#    {#}
{#      "description": "EOS/USD",#}
{#      "proName": "BINANCE:EOSUSD"#}
{#    },#}
{#    {#}
{#      "description": "ADA/USD",#}
{#      "proName": "BINANCE:ADAUSD"#}
{#    }#}
{#  ],#}
{#  "locale": "en",#}
{#  "theme": "dark-grey",#}
{#  "transparency": true#}
{#}#}
{#  </script>#}
{#</div>#}
<!-- TradingView Widget END -->

<p class="fine-print text-center">
{#  ITF &trade; is a trademark of #}
  <a href="http://intelligenttrading.org">Intelligent Trading Foundation</a> {% now "Y" %}
</p>
