autopep8==1.3.5
awscli==1.15.30
boto3==1.7.30
botocore==1.10.30
colorama==0.3.9
docutils==0.14
future==0.16.0
jedi==0.12.0
jmespath==0.9.3
mccabe==0.6.1
numpy==1.14.3
pandas==0.23.1
parso==0.2.1
pluggy==0.6.0
pyasn1==0.4.3
pycodestyle==2.4.0
pydocstyle==2.1.1
pyflakes==2.0.0
python-dateutil==2.7.3
python-language-server==0.19.0
pytz==2018.4
PyYAML==3.12
redis==2.10.6
rope==0.10.7
rsa==3.4.2
s3transfer==0.1.13
six==1.11.0
snowballstemmer==1.2.1
yapf==0.22.0
deap==1.2.2
