{% extends "base.html" %}
{% load static %}

{% block tab_title %}
  Main Dashboard
{% endblock tab_title %}

{% block content_title %}
  Main Dashboard
{% endblock content_title %}

{% block content %}

{#    {{ signals }}#}


  {% for signal_name, signal_stats in signals.items %}

    <div class="row my-2">

      {% for horizon_name, horizon_stats in signal_stats.items %}

        <div class="col-md-3">
          <div class="statcard p-4 {% cycle 'statcard-secondary' 'statcard-success' 'statcard-primary' 'statcard-info' %}">
            <h3 class="statcard-number">
              {{ horizon_stats.num_signals_24_hrs }}
              <small class="delta-indicator {% if horizon_stats.num_signals_24_hrs_delta_percent > 0 %}delta-positive{% else %}delta-negative{% endif %}">
                {{ horizon_stats.num_signals_24_hrs_delta_percent|floatformat:1 }}%
              </small>
            </h3>
            <span class="statcard-desc">
              {% if horizon_name == "all" %}
                {{ signal_name }} (24hr)
              {% else %}
                {{ horizon_name }} {{ signal_name }}
              {% endif %}
            </span>
          </div>
        </div>

      {% endfor %}

    </div>

  {% endfor %}


{% endblock content %}
