{% extends "base.html" %}
{% load static %}

{% block tab_title %}
  ITF Dashboard
{% endblock tab_title %}

{% block content_title %}
  ITF Dashboard
{% endblock content_title %}

{% block content %}

    <!-- TradingView Widget BEGIN -->
    <div class="tradingview-widget-container">
      <div class="tradingview-widget-container__widget"></div>
      <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/markets/cryptocurrencies/prices-all/" rel="noopener" target="_blank"><span class="blue-text">Cryptocurrency Markets</span></a> by TradingView</div>
      <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-screener.js" async>
      {
      "width": "1000",
      "height": "500",
      "defaultColumn": "overview",
      "screener_type": "crypto_mkt",
      "displayCurrency": "USD",
      "locale": "en"
    }
      </script>
    </div>
    <!-- TradingView Widget END -->

{% endblock content %}