{% extends "base.html" %}
{% load static %}

{% block tab_title %}
  {{ ticker_symbol }}
{% endblock tab_title %}

{% block content_title %}
  {{ ticker_symbol }}
{% endblock content_title %}

{% block content %}

  <div class="row">

    <div class="col-lg-6">

      <div class="row my-4">

        <div class="dashhead col-12">
          <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">ITF Analysis</h6>
            <h3 class="dashhead-title">Status</h3>
          </div>

          <div class="dashhead-toolbar">
            <div class="input-with-icon dashhead-toolbar-item">
              <input type="text" value="{% now "d-m-Y H:m" %}" class="form-control disabled">
              <span class="icon icon-calendar"></span>
            </div>
          </div>
        </div>

      </div>

      <div class="row my-4">
        <div class="col-md-6">
          <div class="statcard statcard-primary p-4 mb-2">
            <h3 class="statcard-number">
              {{ price.close }} {{ counter_currency }}
{#              <small class="delta-indicator delta-positive">5%</small>#}
            </h3>
            <span class="statcard-desc">Price</span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="statcard statcard-success p-4 mb-2">
            <h3 class="statcard-number">
              {{ price.volume }} {{ counter_currency }}
{#              <small class="delta-indicator delta-negative">1.3%</small>#}
            </h3>
            <span class="statcard-desc">Volume</span>
          </div>
        </div>

      </div>


      <div class="row my-4">

        <div class="dashhead col-12">
          <div class="dashhead-titles">
            <h6 class="dashhead-subtitle">ITF Analysis</h6>
            <h3 class="dashhead-title">Signals</h3>
          </div>
        </div>

      </div>

      <div class="row my-4">
        <div class="col-12">

          {% for signal in signals %}
            {% include 'inclusions/signal.html' with signal=signal %}
          {% endfor %}

        </div>
      </div>

    </div>

    <div class="col-lg-6">

      <!-- TradingView Widget BEGIN -->
      <div class="tradingview-widget-container float-right">
        <div class="tradingview-widget-container__widget"></div>
        <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BINANCE-{{ tv_ticker_symbol|default_if_none:"BTCUSD" }}/technicals/" rel="noopener" target="_blank"><span class="blue-text">
          Technical Analysis for {{ tv_ticker_symbol|default_if_none:"BTCUSD" }}</span></a> by TradingView
        </div>
        <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
        {
          "width": "450",
          "height": "400",
          "locale": "en",
          "symbol": "BINANCE:{{ tv_ticker_symbol|default_if_none:"BTCUSD" }}",
          "interval": "1D"
        }
        </script>
      </div>
      <!-- TradingView Widget END -->

    </div>

  </div>

{% endblock content %}
