<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div class="tradingview-widget-container__widget"></div>
  <div class="tradingview-widget-copyright"><a href="https://www.tradingview.com/symbols/BINANCE-WANBTC/technicals/" rel="noopener" target="_blank"><span class="blue-text">Technical Analysis for WANBTC</span></a> by TradingView</div>
  <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-technical-analysis.js" async>
  {
  "width": "500",
  "height": "450",
  "locale": "en",
  "symbol": "BINANCE:WANBTC",
  "interval": "1D"
}
  </script>
</div>
<!-- TradingView Widget END -->